<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TS 1.6 • TodoMVC</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="~/js/ExternalLibraries/requirejs/require.js" data-main="js/requireConfig"></script>
</head>
<body>
    @RenderBody()    
</body>
</html>
           
