<section id="todoapp"></section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://facebook.com/bill.fisher.771">Vlad Teodor</a></p>
    <p>Typescript 1.6 - Visual Studio 2015</p>
</footer>